<form class="d-flex justify-content-center my-3">
  <input type="search" name="search" id="search" class="form-control" placeholder="Search" [(ngModel)]="filterValue"
    style="max-width: 300px;" (keydown.enter)="filterData()">
</form>

<div>
  <table class="table table-bordered table-hover" *ngIf="filteredBookings.length">
    <thead>
      <tr class="table-primary">
        <th scope="col">#</th>
        <th scope="col">User ID</th>
        <th scope="col">Fine</th>
        <th scope="col">Name</th>
        <th scope="col" class="text-center">Controls</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let booking of filteredBookings; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{booking.userId}}</td>
        <td>{{booking.fine}}</td>
        <td>{{booking.bookTitle}}</td>
        <td>
          <div class="d-flex justify-content-evenly">
            <button class="btn btn-outline-primary" (click)="acceptBook(booking._id)">Accept</button>
            <button class="btn btn-outline-danger" (click)="cancelBook(booking._id)">Reject</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <h1 *ngIf="filteredBookings.length === 0" class="text-center font-monospace">No Books for Bookings</h1>
</div>
