<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid d-flex justify-content-between">
    <a class="navbar-brand" routerLink="landing">Library Management System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand ml-5" routerLink="landing">Hi {{userName}}</a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" routerLink="landing">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="bookings">Bookings</a>
        </li>
        <li class="nav-item" *ngIf="isLibrarian">
          <a class="nav-link" routerLink="../librarian">Librarian</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="notifications">
            Notifications
            <span class="top-0 start-100 translate-middle badge rounded-pill bg-danger" style="z-index: -100;" *ngIf="notificationCount">
              {{notificationCount}}
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logoutUser()">Logout</a>
        </li>
      </ul>
  </div>
</nav>
